.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgot-password-title {
  padding-top: 80px;
  font-size: 42px;
  width: 90%;
  padding-bottom: 20px;
}

.forgot-password-description {
  font-size: 17px;
  width: 90%;
  padding-bottom: 5px;
}

.forgot-password-description-secondary {
  font-size: 17px;
  width: 90%;
  padding-bottom: 50px;
}

.forgot-password-form {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #c9cdd3;
  width: 470px;
  height: 480px;
  border: none;
  border: 1px solid #e2e7ef;
}

.forgot-email-title {
  font-size: 18px;
  margin-bottom: -16px;
  width: 80%;
}

.forgot-email-enter {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 6px;
  border: 1px solid #d3d6db;
  padding-left: 14px;
}

.forgot-password-image {

    width: 130px;
    height: 120px;
}

.reset-password-button {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: #22c55e;
  color: white;
  font-size: 16px;
  font-weight: 400;
  
}

.forgot-or-text {
  display: flex;
  align-items: center;
  width: 400px;
  color: black;
  font-weight: 500;
}

.forgot-or-text::before,
.forgot-or-text::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #d3d6db;
    margin-left: 16px;
    margin-right: 16px;
}



.forgot-back-login {
   width: 400px;
  height: 50px;
  border-radius: 9px;
  border: 1px solid #bdbec0;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.forgot-back-login-icon {
      width: 22px;
  height: 22px;

  position: absolute;
  left: 115px;
}

.forgot-auth-link {
  display: flex;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  font-weight: 500;
}